---
import Button from "../Button.astro";

interface Props {
  title: string;
  href: string;
  urlImage: string;
  backgroundLeft?: boolean;
}

const { title, href, urlImage, backgroundLeft } = Astro.props;
---

<div
  class:list={[
    "lg:grid lg:grid-cols-2 lg:grid-rows-2 h-[460px] md:h-[440px] lg:h-[560px] xl:h-[580px] flex flex-col justify-end bg-no-repeat bg-top bg-contain",
    {
      "lg:bg-left-top": backgroundLeft,
      "lg:bg-right-top": !backgroundLeft,
    },
  ]}
  style={`background-image: url(${urlImage});`}
>
  <div
    class:list={[
      "bg-customColor-50 flex flex-col gap-y-2 lg:gap-y-4 justify-between px-2 lg:px-6 py-2 lg:py-4",
      {
        "col-start-2 col-end-3 row-start-1 row-end-2": backgroundLeft,
        "col-start-1 col-end-2 row-start-2 row-end-3": !backgroundLeft,
      },
    ]}
  >
    <h3
      class="font-extrabold text-2xl lg:text-xl xl:text-2xl 2xl:text-4xl text-customColor-500"
    >
      {title}
    </h3>
    <div class="flex flex-col gap-y-4">
      <p class="font-semibold text-customColor-400 text-sm lg:text-base">
        <slot />
      </p>
      <Button href={href} dark={true} mobile={true}>Ver más</Button>
    </div>
  </div>
</div>
